//календарь. товар. категория. сумма. калькул. кнопки
.form {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 20px;

  }
  @media screen and (min-width: 1280px) {
    margin-right: 27px;
    display: flex;
  }
}

// поле товар
.formInput {
  border: 2px solid #f5f6fb;
  //background-color: #f5f6fb;
  width: 282px;
  //height: 42px;
  color: #9d9fa7;
  border-radius: 16px 0 0 0;
  //margin-bottom: -5px;
  padding-left: 21px;
  outline: none;
  @media screen and (min-width: 768px) {
    width: 155px;
    //margin-right: 37px;
  }
  @media screen and (min-width: 1280px) {
    width: 289px;
  }
}

// поле категория
.formSelect {
  display: block;
  border-top: 2px solid #f5f6fb;
  border-bottom: 2px solid #f5f6fb;
  padding-left: 20px;
  font-family: Roboto;
  padding-right: 27px;
  font-size: 14px;
  color: rgba(157, 159, 167, 0.52);

  @media screen and (min-width: 768px) {
    width: 171px;
  }
  @media screen and (min-width: 1280px) {
    width: 188px;
  }
}

// сумма
.formSpan {
  //padding-left: 30px;
  text-align: right;
  width: 174px;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  //text-align: center;
  letter-spacing: 0.02em;
  border-left: 2px solid #f5f6fb;
  border-top: 2px solid #f5f6fb;
  border-bottom: 2px solid #f5f6fb;
  color: #9d9fa7;
  @media screen and (min-width: 768px) {
    width: 74px;
  }
}

// калькулятор
.formCalculator{

  border-radius:  0 16px 16px 0;
  border-bottom: 2px solid #f5f6fb;
  border-top: 2px solid #f5f6fb;

}


//  контейнер ввод очистить
.AddNewProductBtmDiv {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

  color: #52555f;
  justify-content: center;
  @media screen and (min-width: 1280px) {
    margin-left: 54px;
    margin-top: 30px;
  }
}

//  кнопки ввод очистить
.AddNewProductBtm {
  display: none;
  @media screen and (min-width: 768px) {

    display: flex;
    justify-content: center;
    padding: 12px 34px;
    margin-left: 15px;
    border: 2px solid #efeff1;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: #fff;
    width: 125px;



    &:hover {
      background-color: #ff751d;
      color: #fff;
      filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
      transition: 0.5s linear;
    }
    @media screen and (min-width: 1280px) {
      width: 125px;
      &:last-child {
        margin-left: 15px;
        margin-top: 0;
      }
    }
  }
}

//инпуты сумма календ. кальк
.imputForm {
  @media screen and (min-width: 768px) {

    display: flex;
    width: 604px;
    height: 44px;
    @media screen and (min-width: 1280px) {
      padding-top: 2px;
      padding-bottom: 2px;
      padding-right: 20px;
    }
  }
}
