.reportInfo_section {
  -webkit-transition: all ease-in-out 1200ms;
  transition: all ease-in-out 1200ms;
  position: relative;
  overflow: hidden;
}

.reportInfo_section::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url("../../images/svg/bground/bcgImage.svg");
  width: 90px;
  height: 232px;
  bottom: 28px;
  left: 85%;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .reportInfo_section::after {
    width: 1240px;
    height: 232px;
    bottom: 28px;
    left: 2%;
  }
}

.report_head_wrap {
  -webkit-transition: all ease-in-out 1200ms;
  transition: all ease-in-out 1200ms;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .report_head_wrap {
    width: calc(100vw - 100px);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .report_head_wrap {
    width: calc(100vw - 220px);
  }
}

.reportBalance_wrap {
  -webkit-transition: all ease-in-out 1200ms;
  transition: all ease-in-out 1200ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .reportBalance_wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.balanceText {
  -webkit-transition: all ease-in-out 1200ms;
  transition: all ease-in-out 1200ms;
  color: rgba(82, 85, 95, 0.7);
}

@media screen and (min-width: 768px) {
  .balanceText {
    margin-right: 21px;
  }
}

.balanceNumber {
  -webkit-transition: all ease-in-out 1200ms;
  transition: all ease-in-out 1200ms;
  margin-top: 6px;
  padding: 15px 30px;
  background-color: inherit;
  border: 2px solid #ffffff;
  border-radius: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.section_categories {
  -webkit-transition: all ease-in-out 1200ms;
  transition: all ease-in-out 1200ms;
  max-width: calc(100% - 38px);
  margin: 0 auto;
}

.report_switch_wrap {
  -webkit-transition: all ease-in-out 1200ms;
  transition: all ease-in-out 1200ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .report_switch_wrap {
    width: calc(100vw - 100px);
    margin-bottom: 21px;
    background-color: #ffffff;
    border-radius: 30px;
    -webkit-box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
            box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  }
}

@media screen and (min-width: 1280px) {
  .report_switch_wrap {
    width: calc(100vw - 220px);
    margin-bottom: 30px;
  }
}

.graph_dependency_wrap {
  -webkit-transition: all ease-in-out 1200ms;
  transition: all ease-in-out 1200ms;
  margin-bottom: 70px;
  margin: 0 auto;
  max-width: calc(100vw - 38px);
}

@media screen and (min-width: 768px) {
  .graph_dependency_wrap {
    max-width: calc(100vw - 102px);
    max-height: 422px;
    background: #ffffff;
    /* shadow 1 */
    -webkit-box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
            box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .graph_dependency_wrap {
    max-width: calc(100vw - 220px);
    height: 422px;
  }
}

.darkTheme {
  -webkit-transition: all ease-in-out 1200ms;
  transition: all ease-in-out 1200ms;
  background-color: #1f2022;
}

.darkTheme .balanceText {
  color: #f0e7e7;
}

.darkTheme .balanceNumber {
  background-color: #757781;
  color: #f0e7e7;
}

.darkTheme .report_switch_wrap {
  background-color: #757781;
}

.darkTheme .graph_dependency_wrap {
  background-color: #757781;
  color: #f0e7e7;
}
/*# sourceMappingURL=ReportPage.module.css.map */