.label {
  position: relative;
}

.label .calc {
  position: absolute;
  top: 11px;
  right: 10px;
}

.input_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1280px) {
  .input_box {
    margin-right: 27px;
  }
}

.input,
.select,
.number {
  border: 2px solid #f5f6fb;
  color: #c7ccdc;
  text-align: center;
  height: 44px;
}

.input {
  width: 192px;
  border-right: none;
}

@media screen and (min-width: 1280px) {
  .input {
    width: 289px;
    text-align: left;
    padding-left: 21px;
    padding-right: 10px;
  }
}

.select {
  width: 171px;
}

@media screen and (min-width: 1280px) {
  .select {
    width: 181px;
  }
}

.number {
  width: 104px;
  border-left: none;
  border-radius: 0 16px 16px 0;
  padding-right: 27px;
}

@media screen and (min-width: 1280px) {
  .number {
    width: 124px;
  }
}

.input::-webkit-input-placeholder {
  color: #c7ccdc;
}

.input:-ms-input-placeholder {
  color: #c7ccdc;
}

.input::-ms-input-placeholder {
  color: #c7ccdc;
}

.input::placeholder {
  color: #c7ccdc;
}

@media screen and (min-width: 480px) {
  .form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 604px;
  }
  .left_input {
    border-radius: 16px 0px 0px 0px;
  }
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .form {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
  .wrap {
    margin-top: 0px;
  }
}

.btn {
  margin-top: 0;
  margin-right: 15px;
  background-color: #ffff;
  border: 2px solid #f5f6fb;
  color: #52555f;
}

.btnClean {
  margin-top: 0;
  background-color: #ffff;
  border: 2px solid #f5f6fb;
  color: #52555f;
}

.btnClean:hover {
  background-color: #ff751d;
}

.darkTheme {
  -webkit-transition: all ease-in-out 1200ms;
  transition: all ease-in-out 1200ms;
}

.darkTheme .input,
.darkTheme .select,
.darkTheme .number {
  background-color: #757781;
  color: #f0e7e7;
}

.darkTheme .input::-webkit-input-placeholder,
.darkTheme .number::-webkit-input-placeholder {
  color: #f0e7e7;
}

.darkTheme .input:-ms-input-placeholder,
.darkTheme .number:-ms-input-placeholder {
  color: #f0e7e7;
}

.darkTheme .input::-ms-input-placeholder,
.darkTheme .number::-ms-input-placeholder {
  color: #f0e7e7;
}

.darkTheme .input::placeholder,
.darkTheme .number::placeholder {
  color: #f0e7e7;
}
/*# sourceMappingURL=TransactionForm.module.css.map */