.homepage__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
}

.homepage__report {
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: rgba(82, 85, 95, 0.7);
}

.homepage__logo {
  margin-left: 15px;
}

.homepage__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homepage__toppart {
  margin-bottom: 60px;
}

.homepage__btnwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 282px;
}

.homepage__btn {
  padding: 19px 0;
  display: block;
  width: 140px;
  height: 53px;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #f5f6fb;
}

.homepage__btn:hover, .homepage__btn:focus {
  background-color: #ff751d;
  color: #ffffff;
}

.transactions {
  margin: 0 auto;
  width: 280px;
  height: 153px;
  overflow: scroll;
}

.transactions__list {
  margin: 0;
}

.transactions__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin-bottom: 21px;
}

.transactions__item::after {
  content: "";
  position: absolute;
  bottom: -10px;
  background: #f5f6fb;
  width: 280px;
  height: 1px;
}

.transactions__leftpart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50px;
  margin-right: 20px;
  overflow: visible;
  color: #52555f;
}

.transactions__description {
  width: 50px;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
}

.transactions__date {
  width: 50px;
  font-size: 8px;
  line-height: calc(9 / 8);
  letter-spacing: 0.04em;
}

.transactions__category {
  margin-top: auto;
  margin-right: 10px;
  min-width: 75px;
  max-width: 75px;
  font-size: 8px;
  line-height: calc(9 / 8);
  letter-spacing: 0.04em;
}

.transactions__rightpart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  overflow: visible;
}

.transactions__amount {
  margin-right: 20px;
  width: 90px;
  text-align: end;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
}

.darkTheme {
  -webkit-transition: all ease-in-out 1200ms;
  transition: all ease-in-out 1200ms;
}

.darkTheme .homepage__report {
  color: #f0e7e7;
}

.darkTheme .transactions__item {
  color: #f0e7e7;
}

.darkTheme .transactions__leftpart {
  color: #f0e7e7;
}
/*# sourceMappingURL=Mobile.module.css.map */