.CostIncomeButton {
  //@media screen and (min-width: 320px) {
  //  width: 138px;
  //  height: 40px;
  //  font-weight: bold;
  //  font-size: 12px;
  //  line-height: 14px;
  //  border-radius: 20px 20px 0 0;
  //  background-color: #e71717;
  //  border: none;
  //  letter-spacing: 0.02em;
  //  cursor: pointer;
  //}

  @media screen and (min-width: 768px) {
    width: 138px;
    height: 40px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    border-radius: 20px 20px 0 0;
    background-color: #fefefe;
    border: none;
    letter-spacing: 0.02em;
    cursor: pointer;

  }

  &:hover {
    color: #ee4a2c;
    filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
    transition: 0.5s linear;
  }







  .CostIncomeButtonActive {
    color: #ff751d;
  }
}
