.dateType {
  display: flex;
  margin-top: 3px;
  @media screen and (min-width: 768px) {
    margin-left: 21px;
  }
}
.item {
  display: flex;
  align-items: center;
}

.productDate {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 9px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #52555f;

  margin-right: 20px;
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    width: 84px;
  }
}

.productCategoryItemMob {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #52555f;
  width: 168px;
  @media screen and (min-width: 768px) {
    display: none;
    margin-left: 20px;
  }
}

.productCategoryItem {
  display: none;
  @media screen and (min-width: 768px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;

    color: #52555f;
    width: 138px;
    @media screen and (min-width: 768px) {
      width: 128px;
      margin-right: 44px;
    }
  }
}

.productCategory {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 9px;
  letter-spacing: 0.04em;

  color: #52555f;

  margin-right: 14px;
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    width: 124px;
  }
  @media screen and (min-width: 1280px) {
    width: 116px;
  }
}

.productSum {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.04em;
  width: 90px;
  height: 20px;

  color: #e7192e;
  margin-right: 20px;
  @media screen and (min-width: 768px) {
    width: 104px;
    margin-left: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 58px;
  }
}
