.transaction {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 58px;
  }

  &__report {
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.04em;
    color: rgba(82, 85, 95, 0.7);
  }

  &__logo {
    margin-left: 15px;
  }
}
