.goback {
  background: transparent;
  margin-bottom: 15px;
}

.transactionadd__wrapper {
  padding-top: 15px;
}

.transactionadd__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.transactionadd__description {
  display: block;
  padding: 0 20px;
  margin: 0 auto 0 auto;
  width: 282px;
  height: 44px;
  background: transparent;
  border: 2px solid #ffffff;
  border-top-left-radius: 16px;
  border-bottom: 0px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;
}

.transactionadd__description::-webkit-input-placeholder {
  color: #c7ccdc;
}

.transactionadd__description:-ms-input-placeholder {
  color: #c7ccdc;
}

.transactionadd__description::-ms-input-placeholder {
  color: #c7ccdc;
}

.transactionadd__description::placeholder {
  color: #c7ccdc;
}

.transactionadd__select {
  display: block;
  margin: 0 auto 30px auto;
  padding: 0 20px;
  width: 282px;
  height: 44px;
  background: transparent;
  border: 2px solid #ffffff;
  border-bottom-right-radius: 16px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;
  color: #c7ccdc;
}

.transactionadd__amountwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.transactionadd__amount {
  padding-left: 40px;
  padding-right: 15px;
  width: 125px;
  height: 44px;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 22px 0px 0px 22px;
}

.transactionadd__amount::-webkit-input-placeholder {
  color: #000000;
}

.transactionadd__amount:-ms-input-placeholder {
  color: #000000;
}

.transactionadd__amount::-ms-input-placeholder {
  color: #000000;
}

.transactionadd__amount::placeholder {
  color: #000000;
}

.transactionadd__iconwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60;
  height: 44px;
  padding: 0 20px;
  border: 2px solid #ffffff;
  border-radius: 0px 22px 22px 0px;
  border-left: 0;
}

.transactionadd__btnwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 85px auto 0 auto;
  width: 265px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.transactionadd__btn {
  width: 125px;
  height: 44px;
  background: #f5f6fb;
  -webkit-box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
          box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
  border-radius: 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #52555f;
}

.transactionadd__btn:hover, .transactionadd__btn:focus {
  background: #ff751d;
  color: #ffffff;
  -webkit-filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
          filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
}

.darkTheme {
  -webkit-transition: all ease-in-out 1200ms;
  transition: all ease-in-out 1200ms;
  background-color: #252529;
}

.darkTheme .transactionadd__amount {
  color: #f0e7e7;
}

.darkTheme .transactionadd__amount::-webkit-input-placeholder {
  color: #f0e7e7;
}

.darkTheme .transactionadd__amount:-ms-input-placeholder {
  color: #f0e7e7;
}

.darkTheme .transactionadd__amount::-ms-input-placeholder {
  color: #f0e7e7;
}

.darkTheme .transactionadd__amount::placeholder {
  color: #f0e7e7;
}
/*# sourceMappingURL=MobileForm.module.css.map */